@{
    ViewData["Title"] = "Home Page";

    string version = "1.6.1";
    string time = "2022-07-19 15:17:00";
}

<p>
    This is inventory web app.
    You can manage your inventory items.
</p>
<p>
    Current version is @version
</p>
<p>
    Last update time is @time
</p>