[Unit]
Description=Workflow web green

[Service]
WorkingDirectory=/home/ubuntu/workflow/web/green
ExecStart=/usr/bin/dotnet Workflow.Inventory.WebApp.dll UpstreamColor=green
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=workflow-web-green
User=www-data

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:34000
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
